<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Page</title>
</head>
<body>

<!-- Meme 이미지 표시 -->
<div th:each="meme : ${contents}">
    <img th:src="@{'https://muchu-bucket.s3.ap-northeast-2.amazonaws.com/meme/' + ${meme.fileName}}" alt="Meme Image"/>
</div>

<!-- 페이지 정보 표시 -->
<div>
    <p th:text="'Total Pages: ' + ${totalPageNum}"></p>
    <p th:text="'Present Page: ' + ${presentPageNum}"></p>
</div>

</body>
</html>
