<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
</head>
<body>
<h1>Main Page</h1>
<a th:unless="${user}" th:href="@{/login}">Login</a>
<a th:unless="${user}" th:href="@{/signup}">SignUp</a>
<a th:if="${user}" th:href="@{/logout}">Logout</a>
<a th:if="${user}" th:href="@{/mypage}">myPage</a>
<br>

<form action="/search" method="get">
    <label for="keyword">검색 키워드를 입력하세요 :</label>
    <input type="text" id="keyword" name="keyword" required><br>
    <input type="hidden" name="page" value="1">
    <button type="submit">검색</button>
</form>


</body>
</html>
