<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Spring Boot</h1>
<a th:href="@{'https://nid.naver.com/oauth2.0/authorize?'
                     + 'response_type=code'
                     + '&client_id=' + ${@environment.getProperty('oauth.naver.client-id')}
                     +'&state=test'
                     +'&redirect_uri=' + ${@environment.getProperty('domain')} + '/oauth2/code/naver'}" role="button">Naver Login</a>

<a th:href="@{'https://kauth.kakao.com/oauth/authorize?'
                     + 'client_id=' + ${@environment.getProperty('b1fdfe89baf0916b3cbe87e49f539296')}
                     + '&redirect_url=' + ${@environment.getProperty('domain')} + '/oauth2/code/naver'
                     + 'response_type=code'}" role="button">Kakao Login</a>
</body>
</html>